# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Node
node_modules/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Next.js
.next/
out/
build/
dist/

# Firebase
firebase-service-account.json
firebase-adminsdk*.json

# Misc
.cache/
coverage/
